.nav {
  display: flex;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid rgba(196, 196, 196, 0.8);
  height: 4em;
  background-color: #ffffff;
  padding-left: 2em;
  margin-bottom: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #515b5c;
  width: 6em;
  padding: 0 1em 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  transition: background-color 0.2s;
}

.nav-link.active {
  border-bottom: 4px solid;
  border-color: #8e518d;
  border-radius: 2px;
  background-color: rgba(196, 196, 196, 0.2);
}

.nav-link:hover {
  border-bottom: 3px solid;
  border-color: #fdcd1c;
  border-radius: 2px;
  background-color: rgba(196, 196, 196, 0.2);
}
